.start-quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.3em;
  gap: 1em;
  text-align: center;
  padding: 1rem;

  

  a{
    text-decoration: none;
    background-color: #4D5B9E;
    color: white;
    padding: 1rem 3.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  @media screen and (min-width: 720px) {
    font-size:1.5em;
  }
}
