.item{
  // margin:10px;
  color: #293264;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  border-bottom: #DBDEF0 1px solid;
  padding-bottom: 1.8rem;
  
  h2{
    font-size: 1em;
    font-weight: 600;
    
  }

  .options{    
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;

    label{
      display: inline-block;
      padding: .35rem 2.15rem;
      border: #293264 1px solid;
      border-radius: 5px;
      // background-color: transparent;
      cursor: pointer;
    }

    input[type="radio"]{
      display: none;
    
      &:checked + label{
          // background-color: #D6DBF5;
          cursor: pointer;
      }
    }
  }

  @media screen and (min-width: 720px) {
    font-size: 19px;   
  }
  
}