*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #F5F7FB;
  background-image: url('./assets/images/top-blob.png'), url('./assets/images/bottom-blob.png');
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  height: 100%;
}



:root { 
  --primary-color: #293264;
}
